.backtoproject{
    color: black;
    letter-spacing: 0.5px;
   
  
}
.backtoproject p{
 margin: auto;
    color: rgba(42, 42, 42);
    
}
.backtoproject h1{
    font-size: 30px;
    color: rgba(42, 42, 42);
    margin: auto;
  
}
.backtoproject button{
   color: rgba(42, 42, 42);
   font-weight: 400;

   letter-spacing: 0.6px;
   margin: auto;
}