@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue&family=Roboto&display=swap');

.subcategory{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.subcategory h1{
    font-size: 29px;
    margin: 30px;

}